<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Postos de Saúde</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

  <!-- Navbar -->
  <header class="bg-blue-600 text-white">
    <nav class="container mx-auto p-4 flex justify-between items-center">
      <a href="/index" class="text-2xl font-bold">VitaStats</a>
      <ul class="flex space-x-4">
        <li><a href="/index" class="hover:text-gray-300">Início</a></li>
        <li><a href="/sobre" class="hover:text-gray-300">Sobre</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="container mx-auto my-10 p-4">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="p-6">
        <h1 class="text-3xl font-bold text-center text-blue-600 mb-4">Municípios por quantidade de postos de saúde em Alagoas</h1>
        <p class="text-gray-600 text-center mb-6">
           Fonte: <strong>Fornecido pelo Estado de Alagoas</strong>.
        </p>
        <div class="flex justify-center mb-6">
          <img src="{{ url_for('static', filename='postos-de-saude-al.png') }}">
        </div>
        <p class="text-gray-600 text-center">
          Os dados apresentados no gráfico evidenciam informações do ano de 2022. By Lorenzo
        </p>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-gray-400 py-6">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 VitaStats. Todos os direitos reservados.</p>
    </div>
  </footer>
</body>
</html>
