<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a VitaStats</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
  <!-- Navbar -->
  <header class="bg-blue-600 text-white">
    <nav class="container mx-auto p-4 flex justify-between items-center">
      <a href="/index" class="text-2xl font-bold">VitaStats</a>
      <ul class="flex space-x-4">
        <li><a href="/index" class="hover:text-gray-300">Início</a></li>
        <li><a href="/sobre" class="hover:text-gray-300">Sobre</a></li>
        <li><a href="#" class="hover:text-gray-300">Serviços</a></li>
        <li><a href="#" class="hover:text-gray-300">Contato</a></li>
      </ul>
    </nav>
  </header>
    <!-- Main Content -->
    <main class="container mx-auto py-10 px-5">
        <p class="text-lg mb-5">
            A <span class="font-semibold">VitaStats</span> Seja bem-vindo ao VitaStats, o portal definitivo para explorar e compreender os dados de saúde pública do estado de Alagoas. Nosso objetivo é fornecer uma visão abrangente, acessível e visualmente rica sobre os principais indicadores de saúde, contribuindo para o fortalecimento da transparência e a promoção de decisões mais informadas.
        </p>
        <h2 class="text-3xl font-bold text-blue-600 mb-5">O que oferecemos?</h2>

        <section class="bg-blue-50 border-l-4 border-blue-400 p-4 mb-5">
            <h3 class="text-2xl font-semibold text-blue-700">Informações confiáveis</h3>
            <p class="text-gray-700">
                Dados atualizados e provenientes de fontes oficiais sobre profissionais de saúde, infraestrutura, atendimento médico, e muito mais.
            </p>
        </section>

        <section class="bg-green-50 border-l-4 border-green-400 p-4 mb-5">
            <h3 class="text-2xl font-semibold text-green-700">Visualização Intuitiva</h3>
            <p class="text-gray-700">
                Gráficos, tabelas e mapas interativos que tornam a análise de informações mais clara e eficiente.
            </p>
        </section>

        <section class="bg-yellow-50 border-l-4 border-yellow-400 p-4">
            <h3 class="text-2xl font-semibold text-yellow-700">Foco em Alagoas</h3>
            <ul class="list-disc ml-5 text-gray-700">
                Um olhar detalhado sobre os municípios, permitindo compreender as especificidades e os desafios de cada região.
            </ul>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bg-blue-600 text-white text-center p-4 mt-10">
        <p>&copy; 2024 VitaStats. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
